 
 <script src="../../Library/angular.min.js"></script>
 <div ng-app="app" ng-controller="viewController">
      <h2 style="color:#f37946;font-weight:600;margin-left:15px;">Thank you for signing up</h2><br />
      <p style="font-size:15px;margin-left:15px;">Please check your email for verification link. If you have already verified, please click <a href="/Home/Login" style="color:#f37946;font-weight:900;">here</a> to login</p>
 </div>
 <div style="position:fixed;top:50%;left:50%;width:38em;height:18em;margin-top:26em;margin-left:-16em; color:black;font-weight:900; font-size:12px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
     <p>&copy; @DateTime.Now.Year <a href="https://www.primeshire.tech/" onmouseover="mouseover()" onmouseout="mouseout()" rel="noopener noreferrer" target="_blank" style="text-shadow: 2px 1px 0px #000000; color:cornflowerblue;font-weight:bolder; font-size:15px;">Primeshire Technologies. </a> <span style="margin-left:1px;"><span style="margin-left:1px;">All Rights Reserved</span></span> <span style="margin-left:5px;color:darkslategrey;font-weight:900;font-family:Tahoma;">V 1.0.6</span></p>
 </div>
 <script src="../../Scripts/multi.js"></script>


