
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/multi.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Library/angular.min.js"></script>

<section ng-app="app" class="col-md-12">
    <br />
    <br />
    <br />
    <!--<br />-->
    <div ng-controller="viewController" class="container">
        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4">
                <div class="resetpasswordbox">
                    <div class="content-wrap" style="margin-left:55px;margin-top:40px;">

                        <h2 style="margin-left:30px;text-shadow: 1px 1px 1px #000000; color:lightgray;">Reset Password</h2>
                        <hr style="border: 0.10px groove ghostwhite; margin-left:26px; width:235px;max-width:234px;"/>
                        @using (Html.BeginForm())
                        {

                            <form action="" method="post" id="loginreset">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <label style="margin-left:0px;">Please type your new <span style="color:#614ad3"> Password </span> </label>
                                            <input class="form-control" type="password" id="newpassword" name="newpassword" tabindex="1" style="height:45px; background-color:transparent; width:500px; max-width:287px;" multiple>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <label style="margin-left:0px;">Confirm <span style="color:#614ad3"> Password </span> </label>
                                            <input class="form-control" type="password" id="confirmpassword" name="confirmpassword" tabindex="2" style="height:45px; background-color:transparent; width:500px; max-width:287px;" multiple>
                                        </div>
                                    </div>

                                    <p id="demo"></p>
                                    <div class="showcheck1">
                                        <input type="checkbox" id="show-hide4" name="show-hide4" value="" style="margin-left:-6px;" />
                                        <label for="show-hide4" style="font-size:11px;color:#f37946;font-weight:900;">Show</label>
                                    </div>

                                    <div class="showcheck2">
                                        <input type="checkbox" id="show-hide5" name="show-hide5" value="" style="margin-left:-6px; " />
                                        <label for="show-hide5" style="font-size:11px;color:#f37946;font-weight:900;">Show</label>
                                    </div>

                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10" style="margin-left:80px;">
                                            <a class="btn btn-primary signup" style="width:120px;" onclick="Confirm()">Confirm</a>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        }
                    </div>
                </div>
                <div>

                </div>
                <script>
                    function focusemail() {
                        document.getElementById("email").focus();
                    }

                    let idleTime = 0;
                    $(document).ready(function () {
                        //Increment the idle time counter every minute.
                        idleInterval = setInterval(timerIncrement, 60000); // 1 minute

                        //Zero the idle timer on mouse movement.
                        $('body').mousemove(function (e) {
                            idleTime = 0;
                        });

                        $('body').keypress(function (e) {
                            idleTime = 0;
                        });

                        $('body').click(function () {
                            idleTime = 0;
                        });

                        function timerIncrement() {
                            idleTime = idleTime + 1;
                            if (idleTime > 6) {
                                window.location.href = "/Home/Login";
                            }
                        }
                    });

                    function Confirm() {

                        var url = window.location.href;
                        var arr = url.split("/");
                        var result = arr[0] + "//" + arr[2];

                        var vemail = localStorage.getItem("varEmail");
                        var vautocode = localStorage.getItem("Stringautocode");

                        if (document.getElementById('newpassword')['value'] === document.getElementById('confirmpassword')['value']) {
                            var confirmvalue = {
                                'Email': vemail,
                                'Password': document.getElementById("newpassword")["value"],
                                'Autocode': vautocode
                            };
                            $.ajax({
                                url: result + '/api/Update/Resetpassword', type: 'POST', data: JSON.stringify(confirmvalue), dataType: 'json', contentType: "application/json", success: function (response) {

                                    if (response === "updated") {
                                        window.location.href = "/Home/Resetsuccess";

                                        localStorage.setItem("Stringautocode", "");
                                        localStorage.setItem("varEmail", "");

                                    } else if (response === "existed") {

                                        swal("Invalid password!", "The password you entered has been used recently. Please choose a different password.", {
                                            className: "swal-title"
                                        });

                                    } else {

                                        swal("Failed", "Reset password failed the user credential cannot be found in the system database", {
                                            className: "swal-title"
                                        });

                                    }

                                }, error: function (response) {
                                    swal("Failed!", "Reset password failed", {
                                        className: "swal-title"
                                    });
                                }
                            });
                        } else {
                            swal("Invalid", "New password and confirm password is not matched", {
                                className: "swal-title"
                            });
                        }
                    }
                </script>
            </div>
        </div>
    </div>
    <div class="resetpasswordfooter">
        <p>&copy; @DateTime.Now.Year <a href="https://www.primeshire.tech/" onmouseover="mouseover()" onmouseout="mouseout()" rel="noopener noreferrer" target="_blank" style="text-shadow: 2px 1px 0px #000000; color:cornflowerblue;font-weight:bolder; font-size:15px;">Primeshire Technologies. </a> <span style="margin-left:1px;"><span style="margin-left:1px;">All Rights Reserved</span></span> <span style="margin-left:5px;color:darkslategrey;font-weight:900;font-family:Tahoma;">V 1.0.6</span></p>
    </div>
    <br />

    <script src="~/Scripts/login3.js"></script>
    <script src="~/Scripts/multi.js"></script>

</section>

