 
<script src="../../Library/angular.min.js"></script>

<div ng-app="app" ng-controller="viewController" style="width:2500px;max-width:2499px;position:fixed;top:50%;left:50%;height:27em;margin-top:-23em;margin-left:-45em;">
    <br />
    <br />
    <br />
    <br />
    <p style="color:#f37946;font-weight:700; font-size:33px;">We have sent a verification code to your email.<span style="font-size:16.5px;color:#333;font-weight:100; overflow:auto;">  Please enter the verification code below and click the verify button.</span></p>
    <p style="margin-top:-10px; font-size:16.5px;color:#333;font-weight:100;">If you did not receive any email, please click on the resend verification code to have it resent.</p>
    <br />
    <br />
    <br />
    <form action="" method="post" id="verify" style="position:fixed;top:50%;left:50%;width:30em;height:27em;margin-top:-10em;margin-left:-12em;">

        <div>
            <input class="form-control" type="text" placeholder="Please type the code here" id="vercode" tabindex="1" style="height:50px;" autocomplete="off">
            <div style="height:7px;"></div>
            <span><a href="#" style="color:#dadada; font-size:17px; margin-left:28px; text-shadow: 1px 1px 1px #000000;" onclick="VerifyEmail()">Re-send the verification code</a></span>
        </div>        
        <div style="height:5px;"></div>

        <br />
        <div class="action" style="margin-top:30px;margin-left:80px;">
            <a href="#" onclick="Verifycode()" class="btn btn-primary signup" style="width:120px;">Verify</a>
        </div>

    </form>

    <script>
        function VerifyEmail() {            

            var vautocode = localStorage.getItem("Stringautocode");            
            var vemail = localStorage.getItem("varEmail");           

            var url = window.location.href;
            var arr = url.split("/");
            var result = arr[0] + "//" + arr[2];

            if (vautocode !== "" && vemail !== "" ) {
                var verifyvalue = {
                    'Email': vemail
                };                
                $.ajax({
                    url: result + '/api/Forgotpass/Verifyemail', type: 'POST', data: JSON.stringify(verifyvalue), dataType: 'json', contentType: "application/json", success: function (response) {

                        if (response[0].Stringautocode !== "") {                          

                            window.location.href = "/Home/Verificationcode";

                        } else {
                            alert(response);
                            swal("Not existed!", "Email Address cannot be found in the system database", {
                                className: "swal-title"
                            });
                            
                        }

                    }, error: function (response) {
                        //alert('Verification failed');
                        swal("Failed", "Email verification failed", {
                            className: "swal-title"
                        });
                    }
                });
            } else {
                if (document.getElementById('email_validation')['value'] === "") {
                    swal("Empty!", "Empty Email address", {
                        className: "swal-title"
                    });
                } else {
                    swal("Invalid!", "Invalid Email Address", {
                        className: "swal-title"
                    });
                }
            }
        }

        function Verifycode() {
            var vautocode = localStorage.getItem("Stringautocode");         
            if (vautocode === document.getElementById("vercode")["value"]) {
                window.location.href = "/Home/ResetPassword";
            } else {
                swal("Invalid!", "Invalid verification code", {
                    className: "swal-title"
                });
            }
        }
    </script>

</div>
    
<script src="~/Scripts/multiple.js"></script>


